:root {
    --bg-main: #ffffff;
    --bg-panel: #c7edcc;
    --bg-card: #333;

    --text-main: #000;
    --text-muted: #111111;

    --color-error: #ff4d4f;
    --color-notice: #0987ee;

    --panel-gap: 12px;
    --radius: 8px;
}
